{% extends "base.html" %}

{% block content %}
  <h2>Cook : {{ cook.username }}</h2>
  <a style="float: right"
     href="{% url 'kitchen:cook-delete' pk=cook.id %}"
       class="btn btn-danger link-to-page">
      Delete
    </a>
  <a style="float: right"
     href="{% url 'kitchen:cook-update' pk=cook.id %}"
     class="btn btn-secondary link-to-page">
      Update
  </a>
   <table>
    <tr>
      <td><strong>First name:</strong></td>
      <td>{{ cook.first_name }}</td>
    </tr>
    <tr>
      <td><strong>Last name:</strong></td>
      <td>{{ cook.last_name }}</td>
    </tr>
    <tr>
      <td><strong>Years of experience:</strong></td>
      <td>{{ cook.years_of_experience }}</td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td>{{ cook.email }}</td>
    </tr>
    <tr>
      <td><strong>Date joined:</strong></td>
      <td>{{ cook.date_joined }}</td>
    </tr>
    <tr>
      <td><strong>PK:</strong></td>
      <td>{{ cook.pk }}</td>
    </tr>
  </table>

  <div class="ml-3">
    <br>
    <h3>
      Dishes:
    <a style="float: right"
       href="{% url 'kitchen:dish-create' %}"
       class="btn btn-primary">Click here to create new dish
    </a>
    </h3>
    {% if cook.dishes.all %}
    <table class="table">
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
      </tr>

      {% for dish in cook.dishes.all %}
        <tr>
          <td>{{ dish.dish_type.name }}</td>
          <td><a href={% url 'kitchen:dish-detail' pk=dish.id %}>{{ dish.name }}</a></td>
          <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are dishes by {{ cook.username }}!</p>
  {% endif %}

  </div>
{% endblock %}
