{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>
    Cook List
    <a style="float: right"
       href="{% url 'kitchen:cook-create' %}"
       class="btn btn-primary">
      Create a new cook
    </a>
  </h2>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="Search">
  </form>

  {% if cook_list %}
    <table class="table">
      <tr>
        <th>Users </th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Years_of_experience</th>
      </tr>
      {% for cook in cook_list %}
        <tr>
          <td><a href={% url 'kitchen:cook-detail' pk=cook.id %}>{{ cook.username }}</a></td>
          <td>{{ cook.first_name }}</td>
          <td>{{ cook.last_name }}</td>
          <td>{{ cook.email }}</td>
          <td>{{ cook.years_of_experience }}</td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no cooks in restaurant</p>
  {% endif %}

{% endblock %}
