{% extends "base.html" %}

{% block content %}
  <h1>Cook : {{ cook.username }}</h1>
  <p><strong>First name: </strong> {{ cook.first_name }}</p>
  <p><strong>Last name: </strong> {{ cook.last_name }}</p>
  <p><strong>Years of experience: </strong> {{ cook.years_of_experience }}</p>
  <p><strong>Email: </strong> {{ cook.email }}</p>
  <p><strong>Date joined: </strong> {{ cook.date_joined }}</p>
  <p><strong>PK: </strong> {{ cook.pk }}</p>

  <div class="ml-3">
    <h3>Dishes:</h3>

  {% for dish in cook.dishes.all %}
    <p><a href="{% url "kitchen:dish-detail" pk=dish.id %}">{{ dish.name }}</a></p>
  {% empty %}
    <p>There are no dishes in restaurant!</p>
  {% endfor %}
    <a href="{% url 'kitchen:cook-delete' pk=cook.id %}"
       class="btn btn-danger link-to-page">
      Delete
    </a>
  <a href="{% url 'kitchen:cook-update' pk=cook.id %}"
     class="btn btn-secondary link-to-page">
      Update
  </a>

  </div>
{% endblock %}