{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>
    Dish List
    <a style="float: right"
       href="{% url 'kitchen:dish-create' %}"
       class="btn btn-primary">Create a new dish
    </a>
  </h2>


  <form action="" method="get" class="form-inline">
  {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search">
  </form>

  {% if dish_list %}
    <table class="table" style="width: 100%; max-width: none;">
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>

      {% for dish in dish_list %}
        <tr>
          <td><a href={% url 'kitchen:dish-detail' pk=dish.id %}>{{ dish.dish_type }}</a></td>
          <td>{{ dish.name }}</td>
          <td >{{ dish.description }}</td>
          <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}

    </table>

  {% else %}
    <p>There are no dishes in kitchen</p>
  {% endif %}
{% endblock %}
